* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #0d1117;
  /* height: 100vh; */
  color: #e4e4e4;
  line-height: 1.5;
  display: flex;
}
.app-wrapper {
  padding: 60px 20px;
  margin-left: 40px;
}
.app-title-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}
.app-title {
  margin-bottom: 20px;
  margin-left: 10px;
}
.app-username {
  margin-bottom: 10px;
  margin-left: 80px;
}
.app-signout {
  margin-bottom: 10px;
  margin-left: 40px;
  cursor: pointer;
  border: 1.2px solid #30363d;
  border-radius: 8px;
  background: none;
  color: #e4e4e4;
  padding: 4px 8px;
  transition: opacity 0.2s;
}
.app-signout:hover {
  opacity: 0.8;
}

.trello {
  display: flex;
  align-items: flex-start;
}

.trello-section {
  width: 320px;
  background: #010409;
  border: 0.8px solid #21262d;
  padding: 10px;
  border-radius: 4px;
  margin-left: 10px;
}
.add-column-section {
  width: 320px;
  height: 80px;
  border: 0.8px solid #30363d;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
}
.add-column-section:hover {
  opacity: 0.8;
}

.trello-section-title-wrapper {
  position: relative;
}
.trello-section-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.trello-section-delete-button:hover {
  opacity: 0.8;
}

.trello-section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px 0 10px;
}

.card {
  padding: 30px 16px;
  background: #21262d;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(240, 246, 252, 0.1);
}
.task-delete-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-delete-button:hover {
  opacity: 0.8;
}

.add-task-card {
  width: 300px;
  height: 40px;
  padding: 30px;
  margin-top: 10px;
  border: 0.8px solid #30363d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
}
.add-task-card:hover {
  opacity: 0.8;
}
